.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    position: relative;
    right: 13%;
  }

  h1 {
    position: relative;
    left: 2%;
  }

  .image {
    width: 90%;
    position: relative;
    left: 3%;
  }

  fieldset {
    position: relative;
    top: 2%;
  }

  textarea {
    width: 100%;
    position: relative;
    left: 0.8rem;
    bottom: 0.8rem;
  }

  .bio-header {
    position: relative;
    left: 1rem;
    bottom: 0.8rem;
  }

  .save-button {
    position: relative;
    right: 70%;
    bottom: 0.7rem;
  }
}
