.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    position: relative;
    right: 17%;
  }

  h1 {
    position: relative;
    bottom: 4%;
    right: 3%;
  }

  .image {
    width: 90%;
    position: relative;
    bottom: 3%;
    right: 2.5%;
  }

  .form-input {
    width: 250%;
  }

  fieldset {
    position: relative;
    bottom: 2%;
    right: 7%;
  }

  textarea {
    width: 90%;
    position: relative;
    right: 0.6rem;
    bottom: 2rem;
  }

  .bio-header {
    position: relative;
    right: 0.5rem;
    bottom: 2rem;
  }

  .save-button {
    position: relative;
    right: 80%;
    bottom: 1.7rem;
  }

  .edit-image {
    width: 80%;
  }

  .fa-anchor {
    position: relative;
    top: 25%;
  }
}
